.flags .flag {display: inline-block;height:21px;width:28px;vertical-align:text-top;line-height: 28px;background: url(../img/flags.png) no-repeat;}
.flags .ad {background-position: 0 0px;}
.flags .ae {background-position: 0 -21px;}
.flags .af {background-position: 0 -42px;}
.flags .ag {background-position: 0 -63px;}
.flags .ai {background-position: 0 -84px;}
.flags .al {background-position: 0 -105px;}
.flags .am {background-position: 0 -126px;}
.flags .ao {background-position: 0 -147px;}
.flags .aq {background-position: 0 -168px;}
.flags .ar {background-position: 0 -189px;}
.flags .as {background-position: 0 -210px;}
.flags .at {background-position: 0 -231px;}
.flags .au {background-position: 0 -252px;}
.flags .aw {background-position: 0 -273px;}
.flags .ax {background-position: 0 -294px;}
.flags .az {background-position: 0 -315px;}
.flags .ba {background-position: 0 -336px;}
.flags .bb {background-position: 0 -357px;}
.flags .bd {background-position: 0 -378px;}
.flags .be {background-position: 0 -399px;}
.flags .bf {background-position: 0 -420px;}
.flags .bg {background-position: 0 -441px;}
.flags .bh {background-position: 0 -462px;}
.flags .bi {background-position: 0 -483px;}
.flags .bj {background-position: 0 -504px;}
.flags .bl {background-position: 0 -525px;}
.flags .bm {background-position: 0 -546px;}
.flags .bn {background-position: 0 -567px;}
.flags .bo {background-position: 0 -588px;}
.flags .bq {background-position: 0 -609px;}
.flags .br {background-position: 0 -630px;}
.flags .bs {background-position: 0 -651px;}
.flags .bt {background-position: 0 -672px;}
.flags .bv {background-position: 0 -693px;}
.flags .bw {background-position: 0 -714px;}
.flags .by {background-position: 0 -735px;}
.flags .bz {background-position: 0 -756px;}
.flags .ca {background-position: 0 -777px;}
.flags .cc {background-position: 0 -798px;}
.flags .cd {background-position: 0 -819px;}
.flags .cf {background-position: 0 -840px;}
.flags .cg {background-position: 0 -861px;}
.flags .ch {background-position: 0 -882px;}
.flags .ci {background-position: 0 -903px;}
.flags .ck {background-position: 0 -924px;}
.flags .cl {background-position: 0 -945px;}
.flags .cm {background-position: 0 -966px;}
.flags .cn {background-position: 0 -987px;}
.flags .co {background-position: 0 -1008px;}
.flags .cr {background-position: 0 -1029px;}
.flags .cu {background-position: 0 -1050px;}
.flags .cv {background-position: 0 -1071px;}
.flags .cw {background-position: 0 -1092px;}
.flags .cx {background-position: 0 -1113px;}
.flags .cy {background-position: 0 -1134px;}
.flags .cz {background-position: 0 -1155px;}
.flags .de {background-position: 0 -1176px;}
.flags .dj {background-position: 0 -1197px;}
.flags .dk {background-position: 0 -1218px;}
.flags .dm {background-position: 0 -1239px;}
.flags .do {background-position: 0 -1260px;}
.flags .dz {background-position: 0 -1281px;}
.flags .ec {background-position: 0 -1302px;}
.flags .ee {background-position: 0 -1323px;}
.flags .eg {background-position: 0 -1344px;}
.flags .eh {background-position: 0 -1365px;}
.flags .er {background-position: 0 -1386px;}
.flags .es {background-position: 0 -1407px;}
.flags .et {background-position: 0 -1428px;}
.flags .fi {background-position: 0 -1449px;}
.flags .fj {background-position: 0 -1470px;}
.flags .fk {background-position: 0 -1491px;}
.flags .fm {background-position: 0 -1512px;}
.flags .fo {background-position: 0 -1533px;}
.flags .fr {background-position: 0 -1554px;}
.flags .ga {background-position: 0 -1575px;}
.flags .gb-eng {background-position: 0 -1596px;}
.flags .gb-nir {background-position: 0 -1617px;}
.flags .gb-sct {background-position: 0 -1638px;}
.flags .gb-wls {background-position: 0 -1659px;}
.flags .gb {background-position: 0 -1680px;}
.flags .gd {background-position: 0 -1701px;}
.flags .ge {background-position: 0 -1722px;}
.flags .gf {background-position: 0 -1743px;}
.flags .gg {background-position: 0 -1764px;}
.flags .gh {background-position: 0 -1785px;}
.flags .gi {background-position: 0 -1806px;}
.flags .gl {background-position: 0 -1827px;}
.flags .gm {background-position: 0 -1848px;}
.flags .gn {background-position: 0 -1869px;}
.flags .gp {background-position: 0 -1890px;}
.flags .gq {background-position: 0 -1911px;}
.flags .gr {background-position: 0 -1932px;}
.flags .gs {background-position: 0 -1953px;}
.flags .gt {background-position: 0 -1974px;}
.flags .gu {background-position: 0 -1995px;}
.flags .gw {background-position: 0 -2016px;}
.flags .gy {background-position: 0 -2037px;}
.flags .hk {background-position: 0 -2058px;}
.flags .hm {background-position: 0 -2079px;}
.flags .hn {background-position: 0 -2100px;}
.flags .hr {background-position: 0 -2121px;}
.flags .ht {background-position: 0 -2142px;}
.flags .hu {background-position: 0 -2163px;}
.flags .id {background-position: 0 -2184px;}
.flags .ie {background-position: 0 -2205px;}
.flags .il {background-position: 0 -2226px;}
.flags .im {background-position: 0 -2247px;}
.flags .in {background-position: 0 -2268px;}
.flags .io {background-position: 0 -2289px;}
.flags .iq {background-position: 0 -2310px;}
.flags .ir {background-position: 0 -2331px;}
.flags .is {background-position: 0 -2352px;}
.flags .it {background-position: 0 -2373px;}
.flags .je {background-position: 0 -2394px;}
.flags .jm {background-position: 0 -2415px;}
.flags .jo {background-position: 0 -2436px;}
.flags .jp {background-position: 0 -2457px;}
.flags .ke {background-position: 0 -2478px;}
.flags .kg {background-position: 0 -2499px;}
.flags .kh {background-position: 0 -2520px;}
.flags .ki {background-position: 0 -2541px;}
.flags .km {background-position: 0 -2562px;}
.flags .kn {background-position: 0 -2583px;}
.flags .kp {background-position: 0 -2604px;}
.flags .kr {background-position: 0 -2625px;}
.flags .kw {background-position: 0 -2646px;}
.flags .ky {background-position: 0 -2667px;}
.flags .kz {background-position: 0 -2688px;}
.flags .la {background-position: 0 -2709px;}
.flags .lb {background-position: 0 -2730px;}
.flags .lc {background-position: 0 -2751px;}
.flags .li {background-position: 0 -2772px;}
.flags .lk {background-position: 0 -2793px;}
.flags .lr {background-position: 0 -2814px;}
.flags .ls {background-position: 0 -2835px;}
.flags .lt {background-position: 0 -2856px;}
.flags .lu {background-position: 0 -2877px;}
.flags .lv {background-position: 0 -2898px;}
.flags .ly {background-position: 0 -2919px;}
.flags .ma {background-position: 0 -2940px;}
.flags .mc {background-position: 0 -2961px;}
.flags .md {background-position: 0 -2982px;}
.flags .me {background-position: 0 -3003px;}
.flags .mf {background-position: 0 -3024px;}
.flags .mg {background-position: 0 -3045px;}
.flags .mh {background-position: 0 -3066px;}
.flags .mk {background-position: 0 -3087px;}
.flags .ml {background-position: 0 -3108px;}
.flags .mm {background-position: 0 -3129px;}
.flags .mn {background-position: 0 -3150px;}
.flags .mo {background-position: 0 -3171px;}
.flags .mp {background-position: 0 -3192px;}
.flags .mq {background-position: 0 -3213px;}
.flags .mr {background-position: 0 -3234px;}
.flags .ms {background-position: 0 -3255px;}
.flags .mt {background-position: 0 -3276px;}
.flags .mu {background-position: 0 -3297px;}
.flags .mv {background-position: 0 -3318px;}
.flags .mw {background-position: 0 -3339px;}
.flags .mx {background-position: 0 -3360px;}
.flags .my {background-position: 0 -3381px;}
.flags .mz {background-position: 0 -3402px;}
.flags .na {background-position: 0 -3423px;}
.flags .nc {background-position: 0 -3444px;}
.flags .ne {background-position: 0 -3465px;}
.flags .nf {background-position: 0 -3486px;}
.flags .ng {background-position: 0 -3507px;}
.flags .ni {background-position: 0 -3528px;}
.flags .nl {background-position: 0 -3549px;}
.flags .no {background-position: 0 -3570px;}
.flags .np {background-position: 0 -3591px;}
.flags .nr {background-position: 0 -3612px;}
.flags .nu {background-position: 0 -3633px;}
.flags .nz {background-position: 0 -3654px;}
.flags .om {background-position: 0 -3675px;}
.flags .pa {background-position: 0 -3696px;}
.flags .pe {background-position: 0 -3717px;}
.flags .pf {background-position: 0 -3738px;}
.flags .pg {background-position: 0 -3759px;}
.flags .ph {background-position: 0 -3780px;}
.flags .pk {background-position: 0 -3801px;}
.flags .pl {background-position: 0 -3822px;}
.flags .pm {background-position: 0 -3843px;}
.flags .pn {background-position: 0 -3864px;}
.flags .pr {background-position: 0 -3885px;}
.flags .ps {background-position: 0 -3906px;}
.flags .pt {background-position: 0 -3927px;}
.flags .pw {background-position: 0 -3948px;}
.flags .py {background-position: 0 -3969px;}
.flags .qa {background-position: 0 -3990px;}
.flags .re {background-position: 0 -4011px;}
.flags .ro {background-position: 0 -4032px;}
.flags .rs {background-position: 0 -4053px;}
.flags .ru {background-position: 0 -4074px;}
.flags .rw {background-position: 0 -4095px;}
.flags .sa {background-position: 0 -4116px;}
.flags .sb {background-position: 0 -4137px;}
.flags .sc {background-position: 0 -4158px;}
.flags .sd {background-position: 0 -4179px;}
.flags .se {background-position: 0 -4200px;}
.flags .sg {background-position: 0 -4221px;}
.flags .sh {background-position: 0 -4242px;}
.flags .si {background-position: 0 -4263px;}
.flags .sj {background-position: 0 -4284px;}
.flags .sk {background-position: 0 -4305px;}
.flags .sl {background-position: 0 -4326px;}
.flags .sm {background-position: 0 -4347px;}
.flags .sn {background-position: 0 -4368px;}
.flags .so {background-position: 0 -4389px;}
.flags .sr {background-position: 0 -4410px;}
.flags .ss {background-position: 0 -4431px;}
.flags .st {background-position: 0 -4452px;}
.flags .sv {background-position: 0 -4473px;}
.flags .sx {background-position: 0 -4494px;}
.flags .sy {background-position: 0 -4515px;}
.flags .sz {background-position: 0 -4536px;}
.flags .tc {background-position: 0 -4557px;}
.flags .td {background-position: 0 -4578px;}
.flags .tf {background-position: 0 -4599px;}
.flags .tg {background-position: 0 -4620px;}
.flags .th {background-position: 0 -4641px;}
.flags .tj {background-position: 0 -4662px;}
.flags .tk {background-position: 0 -4683px;}
.flags .tl {background-position: 0 -4704px;}
.flags .tm {background-position: 0 -4725px;}
.flags .tn {background-position: 0 -4746px;}
.flags .to {background-position: 0 -4767px;}
.flags .tr {background-position: 0 -4788px;}
.flags .tt {background-position: 0 -4809px;}
.flags .tv {background-position: 0 -4830px;}
.flags .tw {background-position: 0 -4851px;}
.flags .tz {background-position: 0 -4872px;}
.flags .ua {background-position: 0 -4893px;}
.flags .ug {background-position: 0 -4914px;}
.flags .um {background-position: 0 -4935px;}
.flags .us {background-position: 0 -4956px;}
.flags .uy {background-position: 0 -4977px;}
.flags .uz {background-position: 0 -4998px;}
.flags .va {background-position: 0 -5019px;}
.flags .vc {background-position: 0 -5040px;}
.flags .ve {background-position: 0 -5061px;}
.flags .vg {background-position: 0 -5082px;}
.flags .vi {background-position: 0 -5103px;}
.flags .vn {background-position: 0 -5124px;}
.flags .vu {background-position: 0 -5145px;}
.flags .wf {background-position: 0 -5166px;}
.flags .ws {background-position: 0 -5187px;}
.flags .xk {background-position: 0 -5208px;}
.flags .ye {background-position: 0 -5229px;}
.flags .yt {background-position: 0 -5250px;}
.flags .za {background-position: 0 -5271px;}
.flags .zm {background-position: 0 -5292px;}
.flags .zw {background-position: 0 -5313px;}

